<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Format/Conversion Tool</title>
</head>
<body>
    <h1>Image Format/Conversion Tool</h1>
    <div id="content">
        <p>Upload an Image and Convert to an Available Format</p>
        <form id="format-image" method="POST" enctype="multipart/form-data">
            <input type="file" id="image" name="image" accept="image/*" multiple required>
            <br>
            <select name="format" required>
                <option value="">Select format</option>
                <option value="png">PNG</option>
                <option value="jpg">JPG</option>
                <option value="webp">WEBP</option>
                <option value="bmp">BMP</option>
                <option value="heic">HEIC</option>
            </select>
            <br>
            <input type="submit" value="Submit Bulk">
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/format-image.js') }}"></script>
</body>
</html>